@import "../theme";
@import "components/buttons";

.store {
    width: 100px;
}
.web {
    background-color: $color-B;
    color: $color-A;
}
.web:hover {
    background-color: $color-B-hover;
}
.github {
    background-color: #bdbdbd;
    color: #24292f;
} 
.steam:hover { background-color: #171a21d2; }
.epicgames {
    background-color: #2a2a2a;
    color: #e7e7e7;
} .epicgames:hover { background-color: #2a2a2ad5; }
.itch {
    background-color: #FF2449;
    color: white;
} .itch:hover { background-color: #ff2448d7; }