<!DOCTYPE html>
<html lang="en">

<head>
    {% include google-site-analytics.html %}

    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/assets/logos/favicon.png">

    {% seo %}
</head>


<body>

    <header>
        <a href="/">{{site.contact.name}} | {{site.titlecaps}}</a>
        <a id="header-blank"></a>
        {% for item in site.data.nav %}
        <a class="nav-item" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    </header>

    {{ content }}

    <footer>
        <p class="site-contact"><strong>Contact</strong></p>
        <ul class="site-contact">
            <li><strong>Email: </strong><a href="mailto: {{site.contact.email}}">{{site.contact.email}}</a></li>
            <li><strong>Discord Server: </strong><a
                    href="{{site.contact.discord.url}}">{{site.contact.discord.text}}</a>
            </li>
            <li><strong>GitHub: </strong><a href="{{site.contact.github.url}}">{{site.contact.github.tag}}</a></li>
        </ul>
        <p class="github-credits">hosted by <a class="github-credits" href="{{site.webhost.url}}"
                target="_blank">{{site.webhost.name}}</a></p>
    </footer>

</body>

</html>