---
layout: default
---

<section class="landing">
    <div>
        <p class="code"><span class="code-type">public static int</span> <span class="code-method">Bored</span>(<span
                class="code-type">bool</span> exhausted)</p>
        <p class="code">{</p>
        <p class="code" style="text-indent: 25px;"><span class="code-type">int</span> happiness;</p>
        <p class="code" style="text-indent: 25px;"><span class="code-key">if</span> (!exhausted)</p>
        <p class="code" style="text-indent: 25px;">{</p>
        <p class="code" style="text-indent: 50px;"><span class="code-method">Program</span>();</p>
        <p class="code" style="text-indent: 50px;">happiness = 1000;</p>
        <p class="code" style="text-indent: 25px;">} <span class="code-key">else</span></p>
        <p class="code" style="text-indent: 25px;">{</p>
        <p class="code" style="text-indent: 50px;"><span class="code-method">PlayVideoGame</span>();</p>
        <p class="code" style="text-indent: 50px;">happiness = <span class="code-method">Mathf</span>.infinity;</p>
        <p class="code" style="text-indent: 25px;">}</p>
        <p class="code" style="text-indent: 25px;"><span class="code-key">return</span> happiness;</p>
        <p class="code">}</p>
    </div>
    <div>
        <h2 id="name">Judah Hawi</h2>
        <h2 id="alias"><span id="aka">aka </span>CondorHalcon</h2>
    </div>
</section>

<a id="about"></a>
{{ content }}

<a id="featured"></a>
<!-- Project Entry -->
<section class="featured">
    <h2>Featured</h2>
    <div class="featured-group">
        {%- assign featured_posts = site.posts | where: "featured", true -%}
        {%- assign post1 = featured_posts[0] -%}
        {%- assign post2 = featured_posts[1] -%}
        {%- assign post3 = featured_posts[2] -%}

        {%- if post1 -%}
            <div class="featured-post">
                <h3>{{ post1.title }}</h3>
                <img src="{{ post1.project.cover }}" alt="project image">
                <p>{{ post1.excerpt }}</p>
                <a class="button" href="{{ post1.url }}">More</a>
            </div>
        {%- endif -%}

        {%- if post2 -%}
            <div class="featured-post">
                <h3>{{ post2.title }}</h3>
                <img src="{{ post2.project.cover }}" alt="project image">
                <p>{{ post2.excerpt }}</p>
                <a class="button" href="{{ post2.url }}">More</a>
            </div>
        {%- endif -%}

        {%- if post3 -%}
            <div class="featured-post">
                <h3>{{ post3.title }}</h3>
                <img src="{{ post3.project.cover }}" alt="project image">
                <p>{{ post3.excerpt }}</p>
                <a class="button" href="{{ post3.url }}">More</a>
            </div>
        {%- endif -%}
    </div>
</section>

<a id="contact"></a>
{%- include contact.html -%}