---
layout: default
---

<section class="project-info">
    <img src="{{page.project.cover}}" alt="project front cover image" />
    <div>
        <h2>{{page.title}}</h2>
        {{page.excerpt}}
        <div class="project-info">
            <div>
                <p><strong>Developer</strong></p>
                <p>{{page.project.developer}}</p>
            </div>
            <div>
                <p><strong>Publisher</strong></p>
                <p>{{page.project.publisher}}</p>
            </div>
            <div>
                {% if page.stores.length > 0 %}
                <p><strong>Get</strong></p>
                {% endif %}


                {% for store in page.stores %}
                <a class="button {{store.tags}}" href="{{store.url}}" target="_blank">{{store.text}}</a>
                {% endfor %}
            </div>
        </div>


    </div>
</section>

<section class="project-media">
    <div class="project-media">
        {% for item in page.project.screenshots %}
        <img src="{{item}}" alt="project screenshot">
        {% endfor %}
    </div>
</section>

<section>
    {{ content }}
</section>