<footer>
    <p class="site-contact"><strong>Contact</strong></p>
        <ul class="site-contact">
            <li><strong>Email: </strong>{{site.contact.email}}</li>
            <li><strong>Discord Server: </strong><a href="{{site.contact.discord.url}}">{{site.contact.discord.text}}</a></li>
            <li><strong>GitHub: </strong><a href="{{site.contact.github.url}}">{{site.contact.github.tag}}</a></li>
        </ul>
    <p class="github-credits">hosted by <a class="web-link" href="{{site.webhost.url}}" target="_blank">{{site.webhost.name}}</a></p>
</footer>