<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VGFGZMJSVH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VGFGZMJSVH');
    </script>
    
    {% if {{site.inMaintenance}} and {{page.maintenancePage}} == false %}
    <title>{{page.title}} | {{site.title}}</title>
    <meta http-equiv="refresh" content="0; URL=/maintenance">
    {% elsif {{site.inMaintenance}} == false and {{page.maintenancePage}} %}
    <title>{{page.title}} | {{site.title}}</title>
    <meta http-equiv="refresh" content="0; URL=/home">
    {% else %}
    <meta charset="utf-8">
    <title>{{page.title}} | {{site.title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    {% endif %}
</head>
