/* DEFAULT GLOBAL STYLING */
:root {
    --color-60: #ebebeb;
    --color-30: #141414;
    --color-10: #119DA4;
    --color-60-shaded: #cfcfcf;
    --color-30-hover: #292929;
    --color-10-hover: #08474a;
}
* {
    color: var(--color-30);
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: var(--color-60);
    margin: 0;
    bottom: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button, .button{
    background-color: var(--color-10);
    border-radius: 2px 10px 2px 10px;
    margin: 3px 0px;
    border: 3px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}
button:hover, .button:hover {
    background-color: var(--color-10-hover);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-60); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-30); 
    border-radius: 10px;
}

/* GLOBAL TEXT */
h1 {
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 0;
}
h2 {
    color: var(--color-10);
    font-size: 50px;
    width: 100%;
    margin: 10px 0px 2px 0px;
}
h3 {
    width: 100%;
    margin-top: 0;
}
p {
    margin: 2px 0px 10px 0px
}
h1.page-title {
    width: 100%;
    margin-top: 0;
}
.home-title {
    color: var(--color-30);
}
/* Global Elements End HERE*/

/* SECTIONS */
header {
    background-color: var(--color-30);
    border-bottom: 1px solid var(--color-60);
    min-height: 50px;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 10%;
}
section {
    min-height: 500px;
    padding: 50px 10%;
}
footer {
    background-color: var(--color-30);
    padding: 10px 10% 50px 10%;
}
/* Header */
header {
    list-style-type: none;
    height: 80px;
    display: flex;
}
header > a {
    color: var(--color-60);
    padding: 0 10px;
    text-decoration: none;
    padding-top: 30px;
}
header > a.nav-item:hover {
    background-color: var(--color-30-hover);
}
#header-blank {
    flex-grow: 1;
}

/* Footer */
ul.site-contact {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0px 40px;
}
footer, .site-contact > li > strong, footer > a, .site-contact > strong, .github-credits {
    color: var(--color-60);
}
.github-credits, .github-credits > a {
    font-size: 10px;
}

/* Landing */
section.landing {
    background-image: url(/assets/png/pexels-borja-lopez-1346154.jpg);
    background-color: var(--color-30);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-60);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
section.landing > div {
    display: flex;
    flex-direction: column;
}
.code { color: white; margin: 2px 0px 2px 0px; }
.code-key { color: purple; }
.code-method { color: greenyellow; }
.code-type { color: teal; }
#name, #alias { text-align: center; }
#name { color: var(--color-10); }
#alias { color: var(--color-60); }
#aka {
    color: var(--color-10);
    font-size: 25px;
}

section.feature {
    background-color: var(--color-60-shaded);
}

/* STORE LINKS */
.store {
    width: 100px;
}
.web {
    background-color: #ffffff;
    color: black;
} .web:hover { background-color: #ffffffd0; }
.github {
    background-color: #24292f;
    color: #bdbdbd;
} .steam:hover { background-color: #171a21d2; }
.epicgames {
    background-color: #2a2a2a;
    color: #e7e7e7;
} .epicgames:hover { background-color: #2a2a2ad5; }
.itch {
    background-color: #FF2449;
    color: white;
} .itch:hover { background-color: #ff2448d7; }
