/* DEFAULT STYLING */
* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgb(80, 80, 80);
    margin: 0;
    bottom: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

/* SPECIFIC STYLING */

/* header & nav */
header {
    background-color: rgb(50, 50, 50);
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
ul.nav-object {
    list-style-type: none;
    margin: 0 10%;
    padding: 0;
    overflow: hidden;
}
li.nav-item {
    float: right;
    border-left: 1px dotted white;
}
li.nav-title {
    float: left;
}
li.nav-item a,li.nav-title a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.nav-item a:hover {
    background-color: darkgray;
}

/* main */
main {
    margin: 0 10%;
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    
}

/* footer */
footer {
    border-top: 1px solid white;
    margin: 0;
    padding: 0% 10%;
    bottom: 0;
    left: 0;
    width: 100%;
}
.site-contact {
    margin: 0;
}
p.site-contact {
    margin-top: 2%;
}
ul.site-contact {
    list-style-type: none;
    margin-bottom: 2%;
}
.github-credits {
    font-size: 10px;
    margin-bottom: 2%;
}

/* text & font */
h1 {
    border-bottom: 1px solid lightgray;
}
h2 {
    border-bottom: 1px dashed lightgray;
}
