h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
h2 {
    color: $color-B;
    font-size: 50px;
    margin: 10px 0px 2px 0px;
}
h3 {
    margin-top: 0;
}
p {
    margin: 2px 0px 10px 0px
}

h1.page-title {
    margin-top: 0;
}
.home-title {
    color: $color-A;
}